<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>Error(s)</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>